<form class=" card" [formGroup]="RegisterForm" (ngSubmit)="onSubmit()" ngNativeValidate>
        <h3 class="center-align"style="padding-top:10px;">  Registro</h3>
        <p class="center-align">¿Ya tienes una cuenta? <a routerLink="../../home">¡Inicia sesión!</a></p>
		<div class="row">
          <div class="input-field col s10  offset-s1">
            <mz-input-container>
                <i mz-icon-mdi mz-input-prefix
                  [icon]="'account'">
                </i>
                <input mz-input mz-validation 
                  id="name"
                  length="200"
                  formControlName="name"
                  type="text"
                  [errorMessageResource]="errorMsg.name"
                  [label]="'Nombre'"
                  placeholder="John Doe" />
              </mz-input-container>
          </div>
        </div>
		
		<div class="row">
          <div class="input-field col s10  offset-s1">
            <mz-input-container>
                <i mz-icon-mdi mz-input-prefix
                  [icon]="'email'">
                </i>
                <input mz-input mz-validation 
                  id="email"
                  length="250"
                  formControlName="email"
                  type="email"
                  [errorMessageResource]="errorMsg.email"
                  [label]="'Email'"
                  placeholder="Ejemplo@dominio.com" />
              </mz-input-container>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s10 offset-s1">
              <mz-input-container>
                <i mz-icon-mdi mz-input-prefix
                  [icon]="'textbox-password'">
                </i>

                <input mz-input mz-validation
                  [label]="'Contraseña'"
                  length="20"
                  id="password"
                  placeholder="Contraseña ..."
                  type="password"
                  formControlName="password"
                  [errorMessageResource]="errorMsg.password" />
              </mz-input-container>
          </div>
        </div>
        <!--
        <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
          <span *ngIf="email.errors.required">Correo electrónico requerido</span>
        </ng-container>
        <ng-container *ngIf="password.invalid && (password.dirty || password.touched)">
          <span *ngIf="password.errors.required">Contraseña requerida.</span>
        </ng-container>
        -->
        <div class="card-action center-align">
          <button type="submit" class="waves-effect waves-teal btn-flat black white-text" style="width:55%;">
            Registrarse
          </button>
        </div>
        
      </form>
	  
	  
<div *ngIf="loading" class="valign-wrapper" style="position: fixed; top: 0px; left: 0px; bottom: 0px; right: 0px; background-color: rgba(0, 0, 0, 0.3); z-index: 999;">
  <mz-spinner
  style="margin-left: auto; margin-right: auto;"
    [color]="'green'"
    [size]="'big'">
  </mz-spinner>
</div>